@import './variables';
@import 'notyf/notyf.min.css';

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transperent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after {
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before {
    animation-delay: .5s;
}
@keyframes loader{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
    
}

body {
    font-family:'Lato',sans-serif;
    -webkit-font-smoothing : antialiased;
    color: $dark;
    background-color: white;
    scroll-behavior: smooth;
}
#menupage{
    background-color: rgb(240, 198, 198);
}
.container{
    max-width: 384vh;
    padding: 11px 45px;
    background-color: rgb(239, 240, 236);
}
.order-container{
    max-width: 384vh;
    padding: 57px 125px;
    background-color: white;
}
.status-container{
    max-width: 384vh;
    padding: 57px 125px;
    // background-color: white;
}

nav li:last-child a{
    background:$primary;
    &:hover{
        background:$primary-hover;
    }
}
nav li a{
    transition:$smooth;
    &:hover{
        color: $primary;
    }
}
section.hero img{
    height: 707px;
    width: 100%;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}
#main-h1{
    color: white;
}
h6{
    padding-right: 145px;
    color: orangered;
    font-weight: bold;
}
section.hero{
    position: relative;
    text-align: center;
}
.left{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.Add-to-cart{
    outline: none;
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    margin-left: -195px;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    &:focus {
        outline: none;
    }
}
.container-cart{
    background-color: white;
}
.btn-primary-2{
    background: $primary;
    // margin-left: -195px;`
    transition: $smooth; 
    &:hover{
        background: $primary-hover;
    }
    &:focus {
        outline: none;
    }
}
.amount{
    color: $primary;
}
section.login{
    min-height: calc(100vh - 100px);
    background: $secondary;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}
.eye{ 
    margin-top: 10px;
    padding-left: 230px;
    position: absolute; 
}
.eye2{
    display: block;
    margin-top: 10px; 
    padding-left: 230px;    
    position: absolute;
}

//orders
a.link{
    color: $primary;
}

section.status{
    background-color: $secondary;
    min-height: calc(100vh - 94px);
}
.status-box{
    padding: 33px 0px 0px;
}

//dots
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

//Icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left : -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul{
    margin-left:84px;
}

.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}
.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}
.status-box ul li:nth-child(3) span:before{
    content: '\f2e7';
}
.status-box ul li:nth-child(4) span:before{
    content: '\f21c';
}
.status-box ul li:nth-child(5) span:before{
    content: '\f582';
}
//Line
.status-box ul li{
    position: relative;
}
.status-box ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background-color: $dark;
    margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}
//line gray
.status-box ul li.step-completed:before{
    background-color: $gray;
}

//dots
.status-box ul li.step-completed span:after{
    background-color: $gray;
}

//text
.status-box ul li.step-completed span{
    color: $gray;
}

// Current status
.status-box ul li.current span{
    color: $primary;
}

.status-box ul li.current span:after{
    background-color: $primary;
}
.status-box ul li small{
    float: right;
    font-size: 14px;
    margin-top: 8px;
}
@media(max-width: 614px){
    .container{
        max-width: 90%;
    }
    .order-container{
        max-width: 90%;
    }
    .status-container{
        max-width: 90%;
    }
    .container-cart{
        max-width: 90%;
    }
}

.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #footer {
    background-color:#3f3c3c;
    width: 100%;
    // margin-top: auto;
    // background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: auto;
  }
  .info {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
  }