@import './variables';
@import 'notyf/notyf.min.css';
body {
    font-family:'Lato',sans-serif;
    -webkit-font-smoothing : antialiased;
    color: $dark;
    background-color: white;
    scroll-behavior: smooth;
}
.container{
    max-width: 384vh;
    padding: 11px 45px;
    background-color: #ece7e7;
}
.order-container{
    max-width: 384vh;
    padding: 57px 125px;
    background-color: white;
}

nav li:last-child a{
    background:$primary;
    &:hover{
        background:$primary-hover;
    }
}
nav li a{
    transition:$smooth;
    &:hover{
        color: $primary;
    }
}
section.hero img{
    height: 707px;
    width: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
#main-h1{
    color: white;
}
h6{
    padding-right: 145px;
    color: orangered;
    font-weight: bold;
}
section.hero{
    position: relative;
    text-align: center;
}
.left{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.Add-to-cart{
    outline: none;
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    margin-left: -195px;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
    &:focus {
        outline: none;
    }
}
.container-cart{
    background-color: white;
}
.btn-primary-2{
    background: $primary;
    // margin-left: -195px;`
    transition: $smooth; 
    &:hover{
        background: $primary-hover;
    }
    &:focus {
        outline: none;
    }
}
.amount{
    color: $primary;
}
section.login{
    min-height: calc(100vh - 100px);
    background: $secondary;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}
.eye{ 
    margin-top: 10px;
    padding-left: 230px;
    position: absolute; 
}
.eye2{
    display: block;
    margin-top: 10px; 
    padding-left: 230px;    
    position: absolute;
}

//orders
a.link{
    color: $primary;
}